* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: url(images/cyber.jpg); */
}
body {
  /* background-image: url(https://www.cyberpunk.net/build/images/home3/screen-image-about-08a097de.jpg); */
  background: linear-gradient(to top,#076585, black);

  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family:  sans-serif;
}

#form {
  /* background-color: #fcee0a; */
}

.login {
  background-color: #fcee0a;
  animation: mymove 3s infinite;

  border: 8px solid yellow;
  border-radius: 25px;
  width: 500px;
  height: 780px;
  /* margin-left: 100px; */
  text-align: var(100px);
  /* align-items: center; */
  margin-top: 90px;
}

@keyframes mymove {
  20% {
    border-color: #00ff9f;
  }

  40% {
    border-color: #00b8ff;
  }

  60% {
    border-color: #001eff;
  }

  80% {
    border-color: red;
  }

  100% {
    border-color: #d600ff;
  }
}

.container {
  background-color: #fcee0a;
  display: flex;
  flex-direction: column;
  margin: 100px;
  margin-top: 100px;
}

input {
  color: red;

  background-color: #fcee0a;
  /* position: absolute;
    right: 200px; */
  padding: 10px;
  padding-right: 30px;
  border-radius: 5px;
  border: none;
  width: 300px;
  margin: 20px;
  font-size: 20px;
  border: 3px solid rgb(5, 129, 129);
}

/* input::placeholder {
  color: red;
} */
input:hover {
  border-color: red;
}
label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #fcee0a;
  color: black;
  font-size: xx-large;
  font-size: 20px;
}
.sub {
  background-color: black;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
  color: #fcee0a;
}





